#header{
    height: 73px;
    padding-top: 16px;
    background: url("../img/HeaderFooterBackgroundNotActive.png") repeat-x;
}
html, body, div{
    padding: 0;
    margin: 0;
}

#main{
    background: url("../img/LoginRegisterBackground.png");
    background-size: cover;
    height:1000px;
    padding: 230px 600px 0px 600px;
}
#mainsub{
    background: url("../img/LoginBackgroundColor.png");

}
#footer{
    height: 73px;
    background: url("../img/HeaderFooterBackgroundNotActive.png") repeat-x;
}
